@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1 ease-in-out;
  }
  
  .skip-nav {
    @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4  focus:translate-y-3 -top-8;
  }
  
  @supports not (backdrop-filter: none) {
    .sticky-nav {
      backdrop-filter: none;
      @apply bg-opacity-100;
    }
  }